#CLion project files
.idea/

#CMake files/build
cmake-build-*/
CMakeFiles/
Makefile
*.cmake

*.swp
*.stackdump
*.exe
*.out
vgcore.*

tester
concaten
tester_profile
concaten_profile
*.txt
!CMakeLists.txt

random_test.c
